
    .clients{

            &__title{
                font-weight: 700;
                font-size: 36px;
                line-height: 1.16;
                text-align: center;
                margin: 0;
                padding-top: 60px;
                margin-bottom:30px ; 

           
                @media screen and (min-width: 1200px) {
                    padding-top: 94px;
                    margin-bottom:50px ;  
                }
             
                }
                
                &__list{
                      display: flex;
                      list-style: none;
                      padding-bottom: 94px; 
                      justify-content: center;}
                      flex-wrap:wrap;
            }

            .clients{

                &__link{
                    fill:var(--clients-border-colour);
                    width: 100%;
                    height: 100%; }
                
                       &__icon{
                            transition-property: all; 
                            transition-duration: 250ms;
                            transition-timing-function: 
                            cubic-bezier(0.4, 0, 0.2, 1);}
                }
        


    .clients__item{ 

        
         padding: 16px 32px;
         border: 1px solid var(--clients-border-colour);
         border-radius: 4px;
         transition-property: all; 
          transition-duration: 250ms;
          transition-timing-function: 
          cubic-bezier(0.4, 0, 0.2, 1);
      

   

    &:not(:last-child) {margin-right: 30px;}
}

       
                

        .clients{
 
            &__item  &__link:hover &__icon {fill: var(--button-text-colour);   }
            }

     
        .clients__item{
            &:hover,
            &:focus  {border: 1px solid var(--button-text-colour); }
            }