

        .features{
            padding-top: 94px; 
            padding-bottom: 94px;
            
        &__list {
            display: flex; 
            list-style: none; 
            justify-content: center;  }
        
        
        
        
        &__block{
                width: 270px;
                height: 120px;
               background-color: var(--button-backgroud-colour) ;
                margin-bottom: 30px ; 
                border-radius: 4px;
                padding-top: 25px;
                text-align: center; }
        }
        

        .features{

        &__title{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            margin-top: 0; 
            margin-bottom: 0; 
            padding: 0;
            color:var(--main-text-colour);
        } 
         
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            margin-bottom: 0;
            margin-top: 10px; 
            color:var(--article-text-colour);}
            
        }


        .features__item{
            width: 270px;
    
        &:not(:last-child) {margin-right: 30px; }
    
        &:last-child{margin-right: 0; }
    }


