.foot-link{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    color: var(--second-text-colour);
    @media screen and (max-width:767px) {
        // padding-left: 39px;
    }
    }

.site-footer{
    background-color: var(--secondary-background-colour);
    padding-top: 60px;
    padding-bottom: 60px;

&__list{
    display: inline-block; 
    margin: 0; 
    padding: 0;
    padding-left: 0;}  
  
&__item:not(:last-child){margin-bottom: 9px;}

      
&__logo{color: var(--button-text-colour);}

}

.site-footer__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none; 
    color: var(--article-text-colour);

&--color{color: var(--second-text-colour);}
}


.site-footer__contacts{
    @media screen and (max-width:767px) {
        // padding-left: 109px;
        
    }
}