.about-employees{
    padding-top: 30px; 
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.team{
    padding-bottom: 94px;
     padding-top: 94px; 
     background-color: var(--button-backgroud-colour);

    
&__title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
padding-bottom: 50px;
 margin: 0;
 color:var(--main-text-colour);
}

}



.team__item{
    margin-right: 30px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

&:last-child{
    margin-right: 0;}
}

    .team{

        &__images{display: block;}
        
                
            
            &__name{
                font-weight: 500;
                font-size: 16px;
                line-height: 1.19;
                text-align: center;
                margin-top: 0;
                margin-bottom: 10;
                color:var(--main-text-colour);
               
              
            }
            
           
            &__position{
                font-weight: 400;
                font-size: 16px;
                line-height: 1.19;
                text-align: center;
                padding: 0px;
                margin: 0;
                color: var(--article-text-colour);
               
            }
        }