html{box-sizing: border-box;}

*, *::before, *::after{box-sizing: inherit;}


.adflex{display: flex;}

a{ 
    text-decoration: none; 
} 
img{ 
    display: block; 
}

ul{
    margin:0;
    padding:0; 
    list-style: none;}

body { background-color: var(--second-text-colour);
     color:var(--main-text-colour);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    
    }
    

    .pointing{
        &:hover,&:focus{color: var(--button-text-colour);}
        
    }

    
        .current{
            color: var(--button-text-colour);
    
        &::after {
            position: absolute;
            bottom: -35px;
            right: 0;
            content: "";
            width: 100%;
            height: 4px;
            background-color: var(--button-text-colour);
            border-radius: 2px;} 
        
         }